openapi: 3.1.0
info:
  title: Stackr Catalogue API
  version: 1.0.0
  summary: Stable public API for catalogue, delta sync and search.
servers:
  - url: https://api.stackrtcg.com/v1
    description: Production edge gateway
  - url: http://localhost:8787/v1
    description: Local Cloudflare Worker
tags:
  - name: System
  - name: Catalogue
  - name: Search
  - name: Market
  - name: Assets
  - name: Recognition
  - name: Admin
paths:
  /health:
    get:
      tags: [System]
      operationId: getHealth
      responses:
        "200":
          description: API process is alive.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Stackr-Api-Version:
              $ref: "#/components/headers/ApiVersion"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /ready:
    get:
      tags: [System]
      operationId: getReady
      responses:
        "200":
          description: API dependencies are reachable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "503":
          $ref: "#/components/responses/Error"
  /catalog/manifest:
    get:
      tags: [Catalogue]
      operationId: getCatalogManifest
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Current catalogue sync manifest.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManifestResponse"
        "304":
          description: Manifest has not changed.
  /catalog/delta:
    get:
      tags: [Catalogue]
      operationId: getCatalogDelta
      parameters:
        - name: since
          in: query
          schema:
            type: integer
            minimum: 0
          description: Last applied catalogue change sequence.
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Cursor-paginated catalogue inserts, updates and deprecations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeltaResponse"
        "304":
          description: Delta page has not changed.
        "400":
          $ref: "#/components/responses/Error"
  /languages:
    get:
      tags: [Catalogue]
      operationId: listLanguages
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Supported catalogue languages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguagesResponse"
  /series:
    get:
      tags: [Catalogue]
      operationId: listSeries
      parameters:
        - $ref: "#/components/parameters/Language"
        - name: game
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Cursor-paginated catalogue series.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeriesResponse"
  /sets:
    get:
      tags: [Catalogue]
      operationId: listSets
      parameters:
        - $ref: "#/components/parameters/Language"
        - name: game
          in: query
          schema:
            type: string
        - name: seriesId
          in: query
          schema:
            type: string
            format: uuid
        - name: setCode
          in: query
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Cursor-paginated catalogue sets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetsResponse"
  /sets/{setId}:
    get:
      tags: [Catalogue]
      operationId: getSet
      parameters:
        - $ref: "#/components/parameters/SetId"
      responses:
        "200":
          description: A canonical set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetResponse"
        "404":
          $ref: "#/components/responses/Error"
  /sets/{setId}/cards:
    get:
      tags: [Catalogue]
      operationId: listSetCards
      parameters:
        - $ref: "#/components/parameters/SetId"
        - $ref: "#/components/parameters/Language"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Cursor-paginated cards in a canonical set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardsResponse"
  /cards/{cardId}:
    get:
      tags: [Catalogue]
      operationId: getCard
      parameters:
        - $ref: "#/components/parameters/CardId"
      responses:
        "200":
          description: A canonical card printing with variants.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardResponse"
        "404":
          $ref: "#/components/responses/Error"
  /cards/{cardId}/variants:
    get:
      tags: [Catalogue]
      operationId: listCardVariants
      parameters:
        - $ref: "#/components/parameters/CardId"
      responses:
        "200":
          description: Variants for a canonical card printing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardVariantsResponse"
  /cards/display-artwork-references:
    post:
      tags: [Assets]
      operationId: resolveSameArtworkDisplayReferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SameArtworkDisplayReferencesRequest"
      responses:
        "200":
          description: Approved low-resolution same-artwork references for supplied canonical printing identities.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SameArtworkDisplayReferencesResponse"
        "400":
          $ref: "#/components/responses/Error"
  /cards/{variantId}/price:
    get:
      tags: [Market]
      operationId: getCardVariantPrice
      description: Default personal pricing mode requires the configured owner's Supabase bearer token. Successful responses are private and no-store. An explicitly configured legacy public mode may relax this access rule.
      security: [{ SupabaseBearer: [] }]
      parameters:
        - $ref: "#/components/parameters/VariantId"
        - $ref: "#/components/parameters/ProductType"
        - $ref: "#/components/parameters/Currency"
        - $ref: "#/components/parameters/Condition"
        - $ref: "#/components/parameters/Grader"
        - $ref: "#/components/parameters/Grade"
      responses:
        "200":
          description: Latest provider-neutral price estimate for one exact variant/product identity. Private and no-store in default personal owner-only mode.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardPriceResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /cards/{variantId}/price-history:
    get:
      tags: [Market]
      operationId: getCardVariantPriceHistory
      description: Default personal pricing mode requires the configured owner's Supabase bearer token. Successful responses are private and no-store. An explicitly configured legacy public mode may relax this access rule.
      security: [{ SupabaseBearer: [] }]
      parameters:
        - $ref: "#/components/parameters/VariantId"
        - $ref: "#/components/parameters/ProductType"
        - $ref: "#/components/parameters/Currency"
        - $ref: "#/components/parameters/Condition"
        - $ref: "#/components/parameters/Grader"
        - $ref: "#/components/parameters/Grade"
        - name: observationType
          in: query
          schema:
            type: string
            enum: [sold_observation, active_listing]
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Pricing evidence history with active and sold rows explicitly labelled. Private and no-store in default personal owner-only mode.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceHistoryResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /cards/{variantId}/price-refresh:
    post:
      tags: [Market]
      operationId: requestCardPriceRefresh
      description: Default personal pricing mode permits only the configured owner's Supabase bearer token to queue a refresh. Responses are private and no-store. An explicitly configured legacy public mode may relax this access rule.
      security: [{ SupabaseBearer: [] }]
      parameters:
        - $ref: "#/components/parameters/VariantId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PriceRefreshRequest" }
      responses:
        "202":
          description: Refresh accepted for asynchronous provider processing; this does not update a quote immediately.
          content: { application/json: { schema: { $ref: "#/components/schemas/PriceRefreshResponse" } } }
        "200":
          description: An equivalent refresh is already queued or is in its cooldown period.
          content: { application/json: { schema: { $ref: "#/components/schemas/PriceRefreshResponse" } } }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /market/price-snapshots:
    get:
      tags: [Market]
      operationId: getMarketPriceSnapshots
      description: Default personal pricing mode requires the configured owner's Supabase bearer token. Successful responses are private and no-store. An explicitly configured legacy public mode may relax this access rule.
      security: [{ SupabaseBearer: [] }]
      parameters:
        - name: variantIds
          in: query
          required: true
          description: Comma-separated canonical variant UUIDs; maximum 24 per request.
          schema: { type: string }
        - name: rangeDays
          in: query
          required: false
          description: Uses server-side bucketing and includes a baseline immediately before the requested range.
          schema: { type: integer, enum: [7, 30] }
      responses:
        "200":
          description: Timestamped global market estimates only. These are not an assertion of an individual last-sold transaction. Private and no-store in default personal owner-only mode.
          content: { application/json: { schema: { $ref: "#/components/schemas/PriceSnapshotHistoryResponse" } } }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /market/price-refresh:
    post:
      tags: [Market]
      operationId: requestMarketPriceRefresh
      description: Default personal pricing mode permits only the configured owner's Supabase bearer token to queue a refresh. Responses are private and no-store. An explicitly configured legacy public mode may relax this access rule.
      security: [{ SupabaseBearer: [] }]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PriceRefreshBatchRequest" }
      responses:
        "202":
          description: One or more asynchronous raw-card GBP refreshes were queued. No quote is changed synchronously.
          content: { application/json: { schema: { $ref: "#/components/schemas/PriceRefreshBatchResponse" } } }
        "200":
          description: Every requested refresh is already queued or is in its cooldown period.
          content: { application/json: { schema: { $ref: "#/components/schemas/PriceRefreshBatchResponse" } } }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /market/movers:
    get:
      tags: [Market]
      operationId: listMarketMovers
      description: Default personal pricing mode requires the configured owner's Supabase bearer token. Successful responses are private and no-store. An explicitly configured legacy public mode may relax this access rule.
      security: [{ SupabaseBearer: [] }]
      parameters:
        - $ref: "#/components/parameters/ProductType"
        - $ref: "#/components/parameters/Currency"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Market identities with recent estimate movement. Private and no-store in default personal owner-only mode.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketMoversResponse"
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /market/opportunities:
    get:
      tags: [Market]
      operationId: listMarketOpportunities
      description: Default personal pricing mode requires the configured owner's Supabase bearer token. Successful responses are private and no-store. An explicitly configured legacy public mode may relax this access rule.
      security: [{ SupabaseBearer: [] }]
      parameters:
        - $ref: "#/components/parameters/ProductType"
        - $ref: "#/components/parameters/Currency"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Active listings below exact-variant estimates. These are not sold comps. Private and no-store in default personal owner-only mode.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketOpportunitiesResponse"
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /search:
    get:
      tags: [Search]
      operationId: searchCatalog
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 160
        - $ref: "#/components/parameters/Language"
        - name: setId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Search results with explicit match reasons.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/Error"
  /assets/manifest:
    get:
      tags: [Assets]
      operationId: getAssetManifest
      parameters:
        - name: assetType
          in: query
          schema: { type: string }
        - name: setId
          in: query
          schema: { type: string, format: uuid }
        - name: printingId
          in: query
          schema: { type: string, format: uuid }
        - name: variantId
          in: query
          schema: { type: string, format: uuid }
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Approved public catalogue asset manifest.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetManifestResponse"
  /assets/scans/presigned-upload:
    post:
      tags: [Assets]
      operationId: createPrivateScanUpload
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [mimeType, byteSize]
              properties:
                uploadId:
                  type: string
                  minLength: 8
                  maxLength: 128
                mimeType:
                  type: string
                  enum: [image/jpeg, image/png, image/webp, image/heic]
                byteSize:
                  type: integer
                  minimum: 1
                  maximum: 10485760
                expiresInSeconds:
                  type: integer
                  minimum: 60
                  maximum: 3600
      responses:
        "200":
          description: Short-lived private upload details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /assets/scans/upload:
    post:
      tags: [Assets]
      operationId: uploadPrivateScan
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/webp:
            schema:
              type: string
              format: binary
          image/heic:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Validated private scan asset record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "413":
          $ref: "#/components/responses/Error"
        "415":
          $ref: "#/components/responses/Error"
  /recognition/identify:
    post:
      tags: [Recognition]
      operationId: identifyCard
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecognitionIdentifyRequest"
      responses:
        "200":
          description: Recognition result with independently visible component scores.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /recognition/embed:
    post:
      tags: [Recognition]
      operationId: embedPrivateScan
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [modelVersion, privateImageKey]
              properties:
                modelVersion:
                  type: string
                privateImageKey:
                  type: string
                imageMimeType:
                  type: [string, "null"]
                corners:
                  type: [object, "null"]
                consent:
                  type: object
                client:
                  type: object
      responses:
        "200":
          description: Server fallback embedding response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "429":
          $ref: "#/components/responses/Error"
  /recognition/feedback:
    post:
      tags: [Recognition]
      operationId: submitRecognitionFeedback
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecognitionFeedbackRequest"
      responses:
        "200":
          description: Feedback receipt.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
  /recognition/shadow-comparisons:
    post:
      tags: [Recognition]
      operationId: submitRecognitionShadowComparison
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecognitionShadowComparisonRequest"
      responses:
        "200":
          description: De-identified shadow comparison receipt. Raw images and image URIs are forbidden.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "403":
          $ref: "#/components/responses/Error"
  /admin/recognition-shadow-comparisons:
    get:
      tags: [Admin]
      operationId: listRecognitionShadowComparisons
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: status
          in: query
          schema:
            type: string
            enum: [pending_review, reviewed, ignored, all]
        - name: category
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Private shadow-comparison review queue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "403":
          $ref: "#/components/responses/Error"
  /admin/recognition-shadow-comparisons/{itemId}:
    patch:
      tags: [Admin]
      operationId: reviewRecognitionShadowComparison
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecognitionShadowReviewRequest"
      responses:
        "200":
          description: Updated private review record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "403":
          $ref: "#/components/responses/Error"
  /admin/catalogue/cache/activate:
    post:
      tags: [Admin]
      operationId: activateCatalogueCacheVersion
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [catalogueVersion]
              properties:
                catalogueVersion:
                  type: string
      responses:
        "200":
          description: Cache namespace activation result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "403":
          $ref: "#/components/responses/Error"
  /admin/catalogue-ingestion/{command}:
    post:
      tags: [Admin]
      operationId: runCatalogueIngestionCommand
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - name: command
          in: path
          required: true
          schema:
            type: string
            enum: [run-source, run-language, run-set, resume-import, rebuild-record]
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CatalogueIngestionCommand"
      responses:
        "200":
          description: Catalogue ingestion command accepted by the durable queue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "403":
          $ref: "#/components/responses/Error"
  /admin/catalogue-ingestion/conflicts:
    get:
      tags: [Admin]
      operationId: listCatalogueIngestionConflicts
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: sourceId
          in: query
          schema: { type: string, format: uuid }
        - name: conflictType
          in: query
          schema: { type: string }
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Quarantined catalogue conflicts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
  /admin/catalogue-ingestion/quality-report:
    get:
      tags: [Admin]
      operationId: getCatalogueQualityReport
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: language
          in: query
          schema: { $ref: "#/components/schemas/LanguageCode" }
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Catalogue quality report.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
  /admin/assets/migrate-existing:
    post:
      tags: [Admin]
      operationId: migrateExistingAssets
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetMigrationCommand"
      responses:
        "200":
          description: Existing asset migration accepted by the asset-processing queue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "403":
          $ref: "#/components/responses/Error"
  /admin/observability/dashboard:
    get:
      tags: [Admin]
      operationId: getProtectedObservabilityDashboard
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Latest protected health, quality, coverage, pricing, cost, provider and model snapshots.
          headers:
            Traceparent:
              $ref: "#/components/headers/Traceparent"
            X-Trace-Id:
              $ref: "#/components/headers/TraceId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObservabilityDashboardResponse"
        "403":
          $ref: "#/components/responses/Error"
  /admin/observability/refresh:
    post:
      tags: [Admin]
      operationId: refreshProtectedObservabilityDashboard
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                windowHours:
                  type: integer
                  minimum: 1
                  maximum: 720
                  default: 24
      responses:
        "200":
          description: Refreshed protected dashboard snapshots.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObservabilityDashboardResponse"
  /admin/observability/evaluations:
    post:
      tags: [Admin]
      operationId: storeQualityEvaluation
      x-stackr-internal: true
      security:
        - SupabaseBearer: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QualityEvaluationSubmission"
      responses:
        "201":
          description: Aggregate quality report stored without scan pixels, OCR text or user identifiers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
components:
  securitySchemes:
    SupabaseBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived Supabase user access token. Service-role keys are forbidden.
  headers:
    RequestId:
      schema:
        type: string
    ApiVersion:
      schema:
        type: string
        const: "1"
    ETag:
      schema:
        type: string
    CacheControl:
      schema:
        type: string
    Traceparent:
      schema:
        type: string
        pattern: "^00-[a-f0-9]{32}-[a-f0-9]{16}-[a-f0-9]{2}$"
    TraceId:
      schema:
        type: string
        pattern: "^[a-f0-9]{32}$"
  parameters:
    IfNoneMatch:
      name: If-None-Match
      in: header
      required: false
      schema:
        type: string
    DeviceId:
      name: X-Stackr-Device-Id
      in: header
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 128
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 128
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Opaque cursor returned by the previous page.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 500
    Language:
      name: language
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/LanguageCode"
    SetId:
      name: setId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CardId:
      name: cardId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    VariantId:
      name: variantId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ProductType:
      name: productType
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/MarketProductType"
    Currency:
      name: currency
      in: query
      required: false
      schema:
        type: string
        pattern: "^[A-Z]{3}$"
        default: GBP
    Condition:
      name: condition
      in: query
      required: false
      schema:
        type: string
    Grader:
      name: grader
      in: query
      required: false
      schema:
        type: string
    Grade:
      name: grade
      in: query
      required: false
      schema:
        type: string
  responses:
    Error:
      description: Structured API error envelope.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    QualityEvaluationSubmission:
      type: object
      additionalProperties: false
      required: [runKey, manifestSha256, environment, report]
      properties:
        runKey:
          type: string
        manifestSha256:
          type: string
          pattern: "^[a-f0-9]{64}$"
        environment:
          type: string
          enum: [development, test, staging, production]
        sourceCommitSha:
          type: [string, "null"]
        report:
          type: object
          description: Aggregate stackr-quality-evaluation-v1.0.0 report. Raw scan fields are forbidden.
    ObservabilityDashboardResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [generatedAt, dashboards, releaseGates]
              properties:
                generatedAt:
                  type: string
                  format: date-time
                dashboards:
                  type: array
                  minItems: 9
                  maxItems: 9
                  items:
                    type: object
                    required: [dashboardKey, status, summary, evidenceCount, limitations]
                    properties:
                      dashboardKey:
                        type: string
                      status:
                        type: string
                        enum: [healthy, degraded, critical, unavailable]
                      summary:
                        type: object
                      evidenceCount:
                        type: integer
                        minimum: 0
                      limitations:
                        type: array
                        items: { type: string }
                latestQualityRun:
                  type: [object, "null"]
                releaseGates:
                  type: array
                  items:
                    type: object
    CatalogueIngestionCommand:
      type: object
      additionalProperties: false
      properties:
        source: { type: string }
        language: { $ref: "#/components/schemas/LanguageCode" }
        setId: { type: string, format: uuid }
        providerRecordId: { type: string }
        runKey: { type: string }
        dryRun: { type: boolean }
        priority: { type: integer, minimum: 0, maximum: 100 }
        runAfter: { type: string, format: date-time }
        idempotencyKey: { type: string }
        requestId: { type: string }
    AssetMigrationCommand:
      type: object
      additionalProperties: false
      properties:
        assetType: { type: string }
        setId: { type: string, format: uuid }
        printingId: { type: string, format: uuid }
        variantId: { type: string, format: uuid }
        since: { type: string, format: date-time }
        limit: { type: integer, minimum: 1, maximum: 1000 }
        dryRun: { type: boolean }
        priority: { type: integer, minimum: 0, maximum: 100 }
        runAfter: { type: string, format: date-time }
        idempotencyKey: { type: string }
        requestId: { type: string }
    RecognitionIdentifyRequest:
      type: object
      additionalProperties: false
      required: [modelVersion, captureQuality]
      anyOf:
        - required: [embedding]
        - required: [privateImageKey]
      properties:
        modelVersion:
          type: string
        embedding:
          type: [array, "null"]
          maxItems: 4096
          items:
            type: number
        ocrText:
          type: [string, "null"]
          maxLength: 2000
        possibleCollectorNumber:
          type: [string, "null"]
        possibleSetCode:
          type: [string, "null"]
        possibleCardName:
          type: [string, "null"]
        detectedLanguage:
          type: [string, "null"]
        detectedScript:
          type: [string, "null"]
        captureQuality:
          type: object
        privateImageKey:
          type: [string, "null"]
        imageMimeType:
          type: [string, "null"]
        corners:
          type: [object, "null"]
        consent:
          type: object
        client:
          type: object
    RecognitionFeedbackRequest:
      type: object
      additionalProperties: false
      required: [scanId, feedbackAction]
      properties:
        scanId:
          type: string
          format: uuid
        feedbackAction:
          type: string
          enum: [confirm_result, choose_candidate, manual_correction, variant_correction, missing_card, bad_scan]
        selectedVariantId:
          type: [string, "null"]
          format: uuid
        correctedVariantId:
          type: [string, "null"]
          format: uuid
        notes:
          type: [string, "null"]
          maxLength: 1000
        consent:
          type: object
        client:
          type: object
    RecognitionShadowComparisonRequest:
      type: object
      additionalProperties: false
      required: [record]
      properties:
        record:
          type: object
          required: [schemaVersion, localRecordId, anonymousScanId, rawImageRecorded, shadowSnapshot]
          description: De-identified UAT comparison. Image bytes, image URIs and storage keys are forbidden.
          properties:
            schemaVersion:
              type: string
            localRecordId:
              type: string
            anonymousScanId:
              type: string
            rawImageRecorded:
              type: boolean
              const: false
            shadowSnapshot:
              type: object
    RecognitionShadowReviewRequest:
      type: object
      additionalProperties: false
      required: [reviewStatus]
      properties:
        reviewStatus:
          type: string
          enum: [pending_review, reviewed, ignored]
        disagreementCategory:
          type: string
          maxLength: 128
        reviewerNotes:
          type: string
          maxLength: 2000
    LanguageCode:
      type: string
      enum: [en, ja, zh-tw, zh-cn, ko]
    MarketProductType:
      type: string
      enum: [raw_card, graded_card, sealed_product]
    MarketEvidenceStatus:
      type: string
      enum: [recent_sold_value, thin_sold_value, market_estimate, asking_price_indication, legacy_cached_market_estimate, recent_sold_market_estimate, unavailable]
    EnvelopeMeta:
      type: object
      required: [requestId, apiVersion, generatedAt]
      properties:
        requestId:
          type: string
        apiVersion:
          type: string
          const: "1"
        generatedAt:
          type: string
          format: date-time
        pagination:
          $ref: "#/components/schemas/Pagination"
    Pagination:
      type: object
      required: [limit, nextCursor]
      properties:
        limit:
          type: integer
        nextCursor:
          type: [string, "null"]
    HealthResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [status, service, apiVersion, generatedAt]
              properties:
                status:
                  type: string
                  const: ok
                service:
                  type: string
                apiVersion:
                  type: string
                generatedAt:
                  type: string
                  format: date-time
    ReadyResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    ManifestResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required:
                - currentCatalogueVersion
                - minCompatibleAppSchemaVersion
                - latestChangeSequence
                - availableLanguageShards
                - assetBaseUrl
                - modelIndexVersion
                - generatedAt
                - etag
              properties:
                currentCatalogueVersion:
                  type: string
                catalogueVersionId:
                  type: [string, "null"]
                  format: uuid
                minCompatibleAppSchemaVersion:
                  type: string
                latestChangeSequence:
                  type: integer
                availableLanguageShards:
                  type: array
                  items:
                    type: object
                assetBaseUrl:
                  type: [string, "null"]
                modelIndexVersion:
                  type: [string, "null"]
                generatedAt:
                  type: string
                  format: date-time
                etag:
                  type: string
    DeltaResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    LanguagesResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    SeriesResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    SetsResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    SetResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    CardsResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [cards]
              properties:
                cards:
                  type: array
                  items:
                    $ref: "#/components/schemas/Card"
    CardResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [card]
              properties:
                card:
                  $ref: "#/components/schemas/Card"
    CardVariantsResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [cardId, variants]
              properties:
                cardId:
                  type: string
                  format: uuid
                variants:
                  type: array
                  items:
                    $ref: "#/components/schemas/CardVariant"
    SameArtworkDisplayReferencesRequest:
      type: object
      additionalProperties: false
      required: [references]
      properties:
        references:
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: object
            additionalProperties: false
            required: [sourceCardId, sourceDefaultVariantId]
            properties:
              sourceCardId:
                type: string
                format: uuid
              sourceDefaultVariantId:
                type: string
                format: uuid
    SameArtworkDisplayReferencesResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [references]
              properties:
                references:
                  type: array
                  items:
                    type: object
                    required: [sourceCardId, sourceDefaultVariantId, display]
                    properties:
                      sourceCardId:
                        type: string
                        format: uuid
                      sourceDefaultVariantId:
                        type: string
                        format: uuid
                      display:
                        type: object
                        additionalProperties: false
                        required: [kind, url, attribution, width, height]
                        properties:
                          kind:
                            type: string
                            enum: [same_artwork_reference]
                          url:
                            type: string
                            format: uri
                          attribution:
                            type: string
                          width:
                            type: integer
                            minimum: 1
                          height:
                            type: integer
                            minimum: 1
    AssetManifestResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [assets]
              properties:
                assets:
                  type: array
                  items:
                    $ref: "#/components/schemas/CatalogueAsset"
    CatalogueAssetDerivative:
      type: object
      additionalProperties: true
      required: [deliveryPath, deliveryUrl]
      properties:
        role:
          type: [string, "null"]
        storageProvider:
          type: [string, "null"]
        storageBucket:
          type: [string, "null"]
        storageKey:
          type: [string, "null"]
        deliveryPath:
          type: [string, "null"]
        deliveryUrl:
          type: [string, "null"]
          format: uri
        mimeType:
          type: [string, "null"]
        width:
          type: [integer, "null"]
        height:
          type: [integer, "null"]
        byteSize:
          type: [integer, "null"]
        contentSha256:
          type: [string, "null"]
        cacheControl:
          type: [string, "null"]
    CatalogueAsset:
      type: object
      required:
        - assetId
        - assetType
        - cardId
        - variantId
        - deliveryPath
        - deliveryUrl
        - permissionStatus
        - derivatives
      properties:
        assetId:
          type: string
        assetType:
          type: string
        game:
          type: [string, "null"]
        setId:
          type: [string, "null"]
          format: uuid
        cardId:
          type: [string, "null"]
          format: uuid
        variantId:
          type: [string, "null"]
          format: uuid
        deliveryPath:
          type: [string, "null"]
        deliveryUrl:
          type: [string, "null"]
          format: uri
        sourceAttribution:
          type: [string, "null"]
        permissionStatus:
          type: string
        contentSha256:
          type: [string, "null"]
        perceptualHash:
          type: [string, "null"]
        mimeType:
          type: [string, "null"]
        width:
          type: [integer, "null"]
        height:
          type: [integer, "null"]
        byteSize:
          type: [integer, "null"]
        derivatives:
          type: array
          items:
            $ref: "#/components/schemas/CatalogueAssetDerivative"
        cacheControl:
          type: [string, "null"]
        externallyReferenced:
          type: boolean
        unavailableReason:
          type: [string, "null"]
        lastVerifiedAt:
          type: [string, "null"]
          format: date-time
        updatedAt:
          type: [string, "null"]
          format: date-time
    CardVariant:
      type: object
      required:
        - variantId
        - canonicalId
        - variantCode
        - imageVariantId
        - image
      properties:
        variantId:
          type: string
          format: uuid
        canonicalId:
          type: string
        variantCode:
          type: string
        variantLabel:
          type: [string, "null"]
        finishCode:
          type: [string, "null"]
        finishLabel:
          type: [string, "null"]
        artworkKey:
          type: [string, "null"]
        nativeImageStatus:
          type: [string, "null"]
        sameArtworkAsVariantId:
          type: [string, "null"]
          format: uuid
        imageVariantId:
          type: [string, "null"]
          format: uuid
        image:
          anyOf:
            - $ref: "#/components/schemas/CatalogueAsset"
            - type: "null"
        updatedAt:
          type: [string, "null"]
          format: date-time
    Card:
      type: object
      required:
        - cardId
        - catalogueVersionId
        - game
        - languageCode
        - set
        - collectorNumber
        - names
        - rarity
        - defaultVariantId
        - variants
      properties:
        cardId:
          type: string
          format: uuid
        catalogueVersionId:
          type: [string, "null"]
          format: uuid
        game:
          type: string
        languageCode:
          $ref: "#/components/schemas/LanguageCode"
        language:
          type: object
          required: [englishName, nativeName]
          properties:
            englishName:
              type: [string, "null"]
            nativeName:
              type: [string, "null"]
        set:
          type: object
          required: [setId, setCode, nativeName, englishDisplayName]
          properties:
            setId:
              type: string
              format: uuid
            setCode:
              type: [string, "null"]
            nativeName:
              type: [string, "null"]
            englishDisplayName:
              type: [string, "null"]
        collectorNumber:
          type: object
          required: [value, prefix, sort, suffix, sortKey]
          properties:
            value:
              type: string
            prefix:
              type: [string, "null"]
            sort:
              type: [integer, "null"]
            suffix:
              type: [string, "null"]
            sortKey:
              type: [string, "null"]
        names:
          type: object
          required: [native, englishDisplay]
          properties:
            native:
              type: string
            englishDisplay:
              type: [string, "null"]
            englishDisplaySource:
              type: [string, "null"]
              enum: [printing, concept, null]
        details:
          type: object
          required: [supertype, subtypes, artist]
          properties:
            supertype:
              type: [string, "null"]
            subtypes:
              type: array
              items:
                type: string
            artist:
              type: [string, "null"]
        rarity:
          type: object
          required: [code, label]
          properties:
            code:
              type: [string, "null"]
            label:
              type: [string, "null"]
        defaultVariantId:
          type: string
          format: uuid
        variants:
          type: array
          items:
            $ref: "#/components/schemas/CardVariant"
        updatedAt:
          type: [string, "null"]
          format: date-time
    CardPriceResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [variantId, productType, currency, status, estimates, sample, confidence]
              properties:
                variantId:
                  type: string
                  format: uuid
                productType:
                  $ref: "#/components/schemas/MarketProductType"
                currency:
                  type: string
                status:
                  $ref: "#/components/schemas/MarketEvidenceStatus"
                priceType:
                  $ref: "#/components/schemas/MarketEvidenceStatus"
                priceBasis:
                  type: string
                  description: Item-only sold prices exclude shipping; provider aggregates may have unknown shipping basis.
                quoteScope:
                  type: string
                  enum: [exact_variant, printing_level]
                estimates:
                  type: object
                  properties:
                    low:
                      type: [number, "null"]
                    central:
                      type: [number, "null"]
                    high:
                      type: [number, "null"]
                sample:
                  type: object
                confidence:
                  type: object
                fallbackEstimate:
                  type: [object, "null"]
                unavailableReason:
                  type: [string, "null"]
    PriceHistoryResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    PriceRefreshRequest:
      type: object
      additionalProperties: false
      properties:
        productType: { type: string, enum: [raw_card] }
        currency: { type: string, enum: [GBP] }
        language: { $ref: "#/components/schemas/LanguageCode" }
    PriceRefreshBatchRequest:
      type: object
      additionalProperties: false
      required: [variantIds]
      properties:
        variantIds:
          type: array
          minItems: 1
          maxItems: 12
          uniqueItems: true
          items: { type: string, format: uuid }
        productType: { type: string, enum: [raw_card] }
        currency: { type: string, enum: [GBP] }
        language: { $ref: "#/components/schemas/LanguageCode" }
    PriceSnapshotHistoryItem:
      type: object
      required: [cardId, variantId, currency, confidence, sampleCount, priceType, isStale, freshness, quoteScope]
      properties:
        cardId: { type: string }
        variantId: { type: string, format: uuid }
        calculatedAt: { type: [string, "null"], format: date-time }
        snapshotAt: { type: [string, "null"], format: date-time }
        marketCentral: { type: [number, "null"] }
        marketLow: { type: [number, "null"] }
        marketHigh: { type: [number, "null"] }
        currency: { type: string, const: GBP }
        confidence: { type: object }
        sampleCount: { type: integer, minimum: 0 }
        primarySource: { type: [string, "null"] }
        priceType: { $ref: "#/components/schemas/MarketEvidenceStatus" }
        staleAfter: { type: [string, "null"], format: date-time }
        isStale: { type: boolean }
        freshness: { type: string, enum: [fresh, stale, unknown, source_timestamped] }
        priceBasis: { type: string }
        quoteScope:
          type: string
          enum: [exact_variant, printing_level]
          description: Whether the stored estimate matches the requested finish or only the underlying printing.
    PriceSnapshotHistoryResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [snapshots, limit]
              properties:
                snapshots:
                  type: array
                  items: { $ref: "#/components/schemas/PriceSnapshotHistoryItem" }
                limit: { type: integer }
                rangeDays:
                  type: integer
                  enum: [7, 30]
                  description: Present only for a rangeDays request.
                bucketMinutes:
                  type: integer
                  enum: [30, 1440]
                  description: Present only for rangeDays; 30 minutes for 7 days and 1440 minutes for 30 days.
    PriceRefreshItem:
      type: object
      required: [variantId, status, queuedAt, earliestRefreshAt, providerRefreshPending, quoteScope]
      properties:
        variantId: { type: string, format: uuid }
        status: { type: string, enum: [queued, already_queued, cooldown] }
        queuedAt: { type: string, format: date-time }
        earliestRefreshAt: { type: string, format: date-time }
        providerRefreshPending: { type: boolean }
        quoteScope: { type: string, enum: [exact_variant, printing_level] }
    PriceRefreshResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/PriceRefreshItem" }
    PriceRefreshBatchResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [items, summary]
              properties:
                items:
                  type: array
                  items: { $ref: "#/components/schemas/PriceRefreshItem" }
                summary:
                  type: object
                  additionalProperties: false
                  required: [queued, already_queued, cooldown]
                  properties:
                    queued: { type: integer, minimum: 0 }
                    already_queued: { type: integer, minimum: 0 }
                    cooldown: { type: integer, minimum: 0 }
    MarketMoversResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    MarketOpportunitiesResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
    SearchResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data:
              type: object
              required: [query, normalizedQuery, results]
              properties:
                query:
                  type: string
                normalizedQuery:
                  type: string
                results:
                  type: array
                  items:
                    $ref: "#/components/schemas/SearchResult"
    SearchResult:
      type: object
      required: [type, reason]
      properties:
        type:
          type: string
          enum: [card, set]
        reason:
          type: string
          enum:
            - exact_canonical_id
            - exact_external_id
            - exact_set_code_collector_number
            - exact_collector_number
            - exact_collector_number_in_set
            - exact_name_in_set
            - exact_name
            - exact_alias
            - exact_translated_name
            - fuzzy_name
        cardId:
          type: string
          format: uuid
        variantId:
          type: string
          format: uuid
        canonicalId:
          type: string
        setId:
          type: string
          format: uuid
        setCode:
          type: [string, "null"]
        collectorNumber:
          type: string
        nativeName:
          type: [string, "null"]
        englishDisplayName:
          type: [string, "null"]
        englishDisplaySource:
          type: [string, "null"]
          enum: [printing, concept, null]
        languageCode:
          $ref: "#/components/schemas/LanguageCode"
        variantCode:
          type: string
        matchedName:
          type: [string, "null"]
        matchedNameType:
          type: [string, "null"]
        matchedSetCode:
          type: string
        card:
          $ref: "#/components/schemas/Card"
        set:
          type: object
          additionalProperties: true
    Envelope:
      type: object
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: true
        meta:
          $ref: "#/components/schemas/EnvelopeMeta"
    ErrorEnvelope:
      type: object
      required: [error, meta]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code:
              type: string
            message:
              type: string
            requestId:
              type: string
            details: {}
        meta:
          type: object
